/**
* $JA#COPYRIGHT$
*/
 

// ------------------------------------------------------
// CORE NAVIGATIONS ELEMENTS
// ------------------------------------------------------

//
// DROPDOWN (dropdowns.less)
// --------------------------------------------------

// Dropdown arrow/caret
// --------------------
.caret {
}


// The dropdown wrapper (div)
// --------------------------
.dropdown {
}


// The dropdown menu (ul)
// ----------------------
.dropdown-menu {
  padding: 6px 0;

  // Dividers (basically an hr) within the dropdown
  .divider {
    height: auto;
    margin: 0;
    overflow: visible;
    background: transparent;
  }

  // Links within the dropdown menu
  > li > a,
  > li > span {
    display: block;
    padding: 6px 20px;
  }

  > li.open > a,
  > li.open > span {
    color: @dropdown-link-hover-color;
  }
}

// Hover/Focus state
.dropdown-menu > li > a {
  &:hover,
  &:focus {
  }
}

// Active state
.dropdown-menu > .active > a {
  &,
  &:hover,
  &:focus {
  }
}

// Disabled state
.dropdown-menu > .disabled > a {
  &,
  &:hover,
  &:focus {
  }
}

// Nuke hover/focus effects
.dropdown-menu > .disabled > a {
  &:hover,
  &:focus {
  }
}


// Dropdown section headers
// ------------------------
.dropdown-header {
  padding: 3px 20px;
  font-size: @font-size-base;
  // T3: Links in Header
  a {
    color: @dropdown-header-color;
  }
}


// T3 Note: Extend BS3 Dropdown Menu to multi level
// See "base-bs3/less/legacy-navigation.less"
// Dropdown Sub Menus
// ------------------
.dropdown-submenu > .dropdown-menu {
}

// Caret to indicate there is a submenu
.dropdown-submenu > a:after {
  margin-top: 6px;
  border-left-color: @dropdown-link-color;
}

.dropdown-submenu:hover > a:after,
.dropdown-submenu.active > a:after {
  border-left-color: @dropdown-link-hover-color;
}



//
// NAVS (navs.less)
// --------------------------------------------------

// Base class
// ----------
.nav {

  // Nav Items
  > li {
    > a {
      // Hover state
      &:hover,
      &:focus {
      }
    }

    // Disabled state
    &.disabled > a {
      // Hover state
      &:hover,
      &:focus {
      }
    }
  }

  // Seperator
  > li > .separator {
    position: relative;
    display: block;
    padding: @nav-link-padding;
    line-height: @line-height-computed;

    @media (min-width: @grid-float-breakpoint) {
      padding-top: ((@navbar-height - @line-height-computed) / 2);
      padding-bottom: ((@navbar-height - @line-height-computed) / 2);
    }
  }

  > li > span {
    @media (max-width: @screen-sm-max) {
      padding: @nav-link-padding;
      display: inline-block;
    }
  }


  // Open dropdowns
  .open > a {
    &,
    &:hover,
    &:focus {
      background: transparent;
      // The caret
      .caret {
      }
    }
  }

  //End
}


// Tabs
// ----
.nav-tabs {
  border: none;
  margin-bottom: @t3-global-margin;

  > li {

    // Actual tabs (as links)
    > a {
      border: none;
      color: @headings-color;
      font-weight: 600;

      // Hover state
      &:hover {
        background: @brand-primary;
        color: @white;
      }

    }

    // Active state, and it's :hover to override normal :hover
    &.active > a,
    &.open > a
    {
      background: @brand-primary;
      border: none;
      color: @white;

      &:hover,
      &:focus {
        background: darken(@brand-primary, 10%);
        border: none;
        color: @white;
      }
    }

  }

  //End
}


// Pills
// -----
.nav-pills {
  > li {

    // Links rendered as pills
    > a {
      border: none;
      color: @headings-color;
      font-weight: 600;

      // Hover state
      &:hover,
      &:focus {
        background: @brand-primary;
        color: @white;
      }
    }

    + li {
    }

    // Active state
    &.active > a {
      &,
      &:hover,
      &:focus {
        background: darken(@brand-primary, 10%);
        border: none;
        color: @white;

        // The caret
        .caret {
        }
      }
    }

  }

  // End
}


// Dropdowns Caret in Nav
// ----------------------
// Make dropdown carets use link color in navs
.nav .caret {
  border-top-color: @navbar-default-link-color;
  border-bottom-color: @navbar-default-link-color;
  border-bottom-width: 0;
  border-style: solid;
}

.nav a:hover .caret {
  border-top-color: @navbar-default-link-hover-color;
  border-bottom-color: @navbar-default-link-hover-color;
}



// 
// BREADCRUMS (breadcrums.less)
// -------------------------------------------------------
.t3-navhelper {
  background: @breadcrumb-bg;
  border-top: 1px solid @t3-border-color;
  color: @gray;
  padding: 5px 0;
}

.breadcrumb {
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;

  > li {
    + li:before {
      content: "@{breadcrumb-separator}\00a0"; // Unicode space added since inline-block means non-collapsing white-space
    }
  }

  // Active
  > .active {
    color: @breadcrumb-active-color;

    + li:before {
      content: "";
      padding: 0;
    }

    .hasTooltip {
      padding-right: (@t3-global-padding / 2);
    }
  }

  // T3 Note: Hide default Joomla! arrow in breadcrum
  .divider {
    display: none;
  }
}



//
// PAGINATION (MULTIPLE PAGES) (pagination.less)
// --------------------------------------------------
.pagination-wrap {
}

.pagination {

  > li {
    > a,
    > span {
      border: 0;
      color: @headings-color;
      font-size: @font-size-h6;
      font-family: @headings-font-family;
      text-transform: uppercase;
      margin: 3px 3px 3px 0;
    }
  }

  // Hover state
  > li > a,
  > li > span {
    &:hover,
    &:focus {
      color: @headings-color;
    }
  }

  // Active state
  > .active > a,
  > .active > span {
    &,
    &:hover,
    &:focus {
    }
  }

  // Disabled state
  > .disabled {
    > span,
    > span:hover,
    > span:focus,
    > a,
    > a:hover,
    > a:focus {
      display: none;
    }
  }
}


// T3 Note: Fix for Joomla! Pagination
// ------------------------------------
.pagination {
  .clearfix();
  display: block;
  // left align on Tablets / Desktop
  @media screen and (min-width: @screen-sm) {
    float: left;
  }
  // re-defined nested class - joomla structure
  .pagination {
    display: inline-block;
  }
}


// Counter
// -------
.counter {
  border: 1px solid @pagination-border;
  border-radius: @border-radius-base;
  color: @headings-color;
  display: inline-block;
  margin-top: @line-height-computed;
  padding: @padding-base-vertical @padding-base-horizontal;
  background-color: @pagination-bg;
  font-size: @font-size-h6;
  font-family: @headings-font-family;
  text-transform: uppercase;
  // Right align on Tablets / Desktop
  @media screen and (min-width: @screen-sm) {
    float: right;
  }
}


// Sizing
// ------
// Large
.pagination-lg {
}

// Small
.pagination-sm {
}



//
// PAGER PAGINATION (pager.less)
// --------------------------------------------------
.pager {

  li {
    > a,
    > span {
    }

    // Hover state
    > a:hover,
    > a:focus {
    }

    // Active state
    &.active,
    &.active:hover,
    &.active:focus {
    }
  }

  .next {
    > a,
    > span {
    }
  }

  .previous {
    > a,
    > span {
    }
  }

  // Disabled state
  .disabled {
    > a,
    > a:hover,
    > a:focus,
    > span {
    }
  }

}
